body {
	padding: 0;
	margin-top: 30px;
	margin-bottom: 90px;
	display: flex;
	justify-content: center;
	font-family: europa, sans-serif;
	font-weight: 400;
    font-style: normal;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

#message-container {
	width: 80%;
	max-width: 1200px;
}

#message-container div {
	background-color: #333333;
	padding: 5px;
	color: white;
}

#message-container div:nth-child(2n) {
	background-color: #fff;
	color: #333333;
}

#send-container {
	position: fixed;
	padding-bottom: 30px;
	bottom: 0;
	background-color: white;
	max-width: 1200px;
	width: 80%;
	display: flex;
}

#message-input {
	flex-grow: 1;
	/* border-radius: 40px; */
	border: 1px solid grey;
	-webkit-box-shadow: 7px 7px 28px -12px rgba(122, 122, 122, 1);
	-moz-box-shadow: 7px 7px 28px -12px rgba(122, 122, 122, 1);
	box-shadow: 7px 7px 28px -12px rgba(122, 122, 122, 1);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#send-button {
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: normal;
	border: none;
	background-color: #1da7ea;
	color: white;
	padding: 10px 20px;
	font-size: 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: 7px 7px 28px -12px rgba(122, 122, 122, 1);
	-moz-box-shadow: 7px 7px 28px -12px rgba(122, 122, 122, 1);
	box-shadow: 7px 7px 28px -12px rgba(122, 122, 122, 1);
}
